# As a bar minimum you have to configure the steam user. This should be a simple steam user, without any games, vallet or funds. Disable 2 factor auth for this user
STEAMUSER=""
STEAMPASS=""

# set SERVERNAME for your arma 3 server
SERVERNAME="Arma3-by-michael"

# if you want to run the HEADLESS CLIENT, set server IP in 'SERVER' and password to join the server in 'SERVERPASS'
# SERVER="xxx.xxx.xxx.xxx"
# SERVERPASS=""

# MOD Settings
# Leave this empty, if you do not want to user mods

# set MODUPDATE to 'ftp' to use the MODURL and an FTP mirorr,
# set it to 'direct' to use the update-mods.sh (which uses predefined mods from URLs),
# set it to workshop to use the steam workshop.
# If you ise workshop you will also have to define STEAMWSUSER and STEAMWSPASS (this will not be the users, that runs the server)
# STEAMWSUSER has to be a steam user, which owns Arma 3 and a list of the workstop IDs
# MODUPDATE=ftp
# MODURL="ftp://xxx.xxx.xxx.xxx/"
#
# Workstop variant:
# MODUPDATE=workshop
# STEAMWSUSER=""
# STEAMWSPASS=""
# WS_IDS=(450814997 463939057 708250744 751965892 843425103 843593391 843632231 843577117 773125288 773131200 884966711 699630614 1112431110)
# above is a demo set of mods: cba, ace, acex, acre2, RHS full, ace rhs com, sma, sma-rhs comp

# enable 'NOBASIC=true' if you have your own basic.cfg in place and do not want to install a default
# NOBASIC=true
