# As a bar minimum you have to configure the steam user. This should be a simple steam user, without any games, vallet or funds. Disable 2 factor auth for this user
STEAMUSER=""
STEAMPASS=""

# set SERVERNAME for your arma 3 server
SERVERNAME="Arma3-by-michael"

# if you want to run the HEADLESS CLIENT, set server IP in 'SERVER' and password to join the server in 'SERVERPASS'
#SERVER="xxx.xxx.xxx.xxx"
#SERVERPASS=""

# MOD Settings
# Leave this empty, if you do not want to user mods

# set MODUPDATE to 'ftp'  to use the MODURL and an FTP mirorr, or set it to 'direct' to use the update-mods.sh, which will download defined mods directly from github
#MODUPDATE=ftp
#MODURL="ftp://xxx.xxx.xxx.xxx/"

# enable 'NOBASIC=true' if you have your own basic.cfg in place and do not want to install a default 
#NOBASIC=true
